main {
  width: 414px;
  height: 896px;
  background-image: url("../images/bg-video.svg");
  margin: 0px;
  display: flex !important;
  flex-direction: column;
}

body {
  margin: 0;
}

#play-pause-button{
  position: relative;
  margin-top: 55px;
}

.Group147{
  position: relative;
  margin-left: 80px;
}

#timestamp-container {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

#timestamp-container  span {
  font-size: 20px;
}

#PauseButton{
  position: relative;
  margin-top: 55px;
}

.DividerLine{
  position: relative;
  margin-bottom: 50px;
}

#Subtitle{
  font-family:'Mada', sans-serif;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

#play-pause-button{
  background: transparent;
  border: none;
}

#audio-play-progress {
  width: 100%;
}

#video {
  width: 80%;
  text-align: center;
}

#rewind10{
  position: absolute;
  margin-left: 151px;
  margin-top: 435px;
}

#forward10{
  position: absolute;
  margin-top: 435px;
  margin-left: 228px;
}

#download{
  position: absolute;
  margin-left: 303px;
  margin-top: 435px;
}

#archive{
  position: absolute;
  margin-left: 76px;
  margin-top: 435px;
}
