main {
  width: 414px;
  height: 896px;
  background-image: url("../images/bg blue.svg");
  margin: 0px;
  display: flex !important;
  flex-direction: column;
}

body {
  margin: 0;
}

#play-pause-button{
  margin-top: 55px;
  background: transparent;
  border: none;
}

#group-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

#ellips34{
  margin-left: 160px;
}

#timestamp-container {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

#timestamp-container  span {
  font-size: 20px;
}

#PauseButton{
  position: relative;
  margin-top: 55px;
}

.DividerLine{
  position: relative;
  margin-bottom: 50px;
}

#Subtitle{
  font-family:'Mada', sans-serif;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}


#audio-play-progress {
  width: 100%;
}

