main {
  width: 414px;
  height: 896px;
  background-image: url("../images/bg-video.svg");
  margin: 0px;
  display: flex !important;
  flex-direction: column;
}

body {
  margin: 0;
}

#large-play-button {
  margin-top: 55px;
  background: transparent;
  border: none;
}

#group-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

#timestamp-container {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

#timestamp-container  span {
  font-size: 20px;
}

#pauseButton{
  position: relative;
}

.DividerLine{
  position: relative;
  margin-bottom: 50px;
}

#Subtitle{
  font-family:'Mada', sans-serif;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}


#audio-play-progress {
  width: 100%;
}

#video {
  display: none;
  width: 80%;
  /* text-align: center; */
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  /* singkatan dari */
  /* margin: 0 auto 0 auto
          atas kanan bawah kiri *
  /* margin: 1px 2px 1px 2px'
  margin: 1px 2px; */
}

